<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Tent Monitor </title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
	<script type="text/javascript">
		var socket = io.connect('http://' + document.domain + ':' + location.port);
		socket.on('update', function (data) {
			document.getElementById('temperature').textContent = 'Temperature: ' + data.temperature + '°C';
			document.getElementById('humidity').textContent = 'Humidity: ' + data.humidity + '%';
			});
		
		socket.on('video', function(data) {
			document.getElementById('video').src = 'data:image/jpg;base64,' + data.frame;
		});

	</script>

</head>
<body>
	<h3> Info: </h3>
	<ul>
		<li id="temperature">Temperature: --°C</li>
		<li id="humidity">Humidity: --% </li>
	</ul>

	<h3> Video: </h3>
	<img id="video" src="" alt="Video Stream" style="max-width: 720px; height: auto">
</body>
</html>

